.section-title {
  animation: slideUp 0.8s ease-out;
}

.title-underline {
  width: 100px;
  height: 4px;
  background: #bbbbbb;
  margin: 0 auto;
  animation: expandWidth 1s ease-out 0.5s both;
}

.responsive-ml {
  margin-left: 0 !important;
}

@media (min-width: 1100px) and (max-width: 1199px) {
  .responsive-ml {
    margin-left: 1rem !important; /* ml-4 */
  }
}

@media (min-width: 1200px) {
  .responsive-ml {
    margin-left: 2rem !important; /* ml-8 */
  }
}